.App {
  text-align: center;
}

h1{
  text-align: center;
  justify-content: center;
  font-size: 50px;
}

.race-div {
   background-color: azure;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin: 5px;
   width: 50%;
   cursor: pointer;
}
.race-container{
  display: flex;
  justify-content: center; /* center container horizontally */
  align-items: center; /* center container vertically */
  max-height: 80vh; /* set a minimum height to make container take up the entire screen */
  flex-direction: column; /* stack items as a column */
  overflow: scroll;
}
.race-container::-webkit-scrollbar{
  display: none;
}

.register{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

