.App {
  text-align: center;
}


h1{
  text-align: center;
  justify-content: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.race-div {
   background-color: azure;
   display: flex;
   flex-direction: row;
   justify-content: space-between;

   margin: 5px;
   width: 50%;
   cursor: pointer;
}
.race-container{
  display: flex;
  justify-content: center; /* center container horizontally */
  align-items: center; /* center container vertically */
  max-height: 80vh; /* set a minimum height to make container take up the entire screen */
  flex-direction: column; /* stack items as a column */
  overflow: scroll;
}
.race-container::-webkit-scrollbar{
  display: none;
}